@media (max-width: 1400px) {
    /* padding */
    .padding-main {
        padding: 40px;
    }
    .padding-primary {
        padding: 20px 40px;
    }
    .padding-secondary {
        padding: 40px 20px;
    }
    .banner-content-wrapper {
        left: 40px;
    }
    .navigation-links-wrapper ul {
        gap: 10px;
    }
    .text-with-img-media {
        transform: translateY(-100px);
    }
}
@media (max-width: 990px) {
    /* banner */
    .navigation-links-wrapper {
        display: none;
    }
    .banner-heading h2 {
        font-size: 28px;
    }
    .primary-btn {
        font-size: 14px;
    }
    /* icon with text */
    .icon-with-text-inner .grid-col-3-tablet .grid-items {
        width: calc(33.33% - 0px);
        max-width: calc(33.33% - 0px);
        margin-bottom: 20px;
    }
    /* Featured Collection */
    .featured-collection-content .grid-col-2-tablet .grid-items {
        width: calc(50% - 10px);
        max-width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .footer-top-inner.grid-col-2-tablet .grid-items {
        width: calc(50% - 40px);
        max-width: calc(50% - 40px);
        margin-bottom: 40px;
    }
    /* text with img */
    .text-with-img-heading h2 {
        font-size: 28px;
    }
    .text-with-img-media {
        transform: translateY(-50px);
    }
    .text-with-img-description p {
        font-size: 14px;
    }
    .text-with-img-inner-content {
        width: 75%;
    }
    /* rich text */
    .rich-text-sub-heading + .rich-text-heading h2 {
        font-size: 20px;
    }
}